body{
    background-image: url(../images/pexels-pixabay-45238.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    background-color: rgba(250,251,237,0);
    border: none;
}

.container{
    margin-left: -8%;
}

#main-signin{
    margin-top: 10%;
}

#main-signup{
    margin-top: 5%;
}

#signUp {
    margin-top: 7px;
}

label{
    margin: .5rem 0 0 0;

}

.form-group{
    margin-bottom: 0;;
}

#passwordVal{
    margin-bottom: 8px;
}

#searchBy{
    padding: 2.4px 2px;
    margin-left: 5%;
    margin-right: -5px;
    border-color: none;
}

#searchContacts{
    width: 300px;
}

#homeTitle{
    margin-left: 5%;
}

#bodyStyle{
    background-image: none;
    background-color: #fcfcf0;
}

#navbar{
    margin-top: 65px;
}

#searchBox{
    width: 450px;
}

.list-group-item{
    background-color: #f8e1c5;
}

.card-header{
    background-color: #d4a87e;
    font-size: 1.5rem;
    font-weight: 600;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}

/*inverts bootstrap's button colors when hovering(if the id is set)*/
#primaryBtn:hover{
    color: #007BFF;
    background-color: #FFF;
    border-color: rgb(20, 20, 20);
}

#successBtn:hover{
    color: #218838;
    background-color: #FFF;
    border-color:rgb(20, 20, 20);
}

#secondaryBtn:hover{
    color: #5a6268;
    background-color: #FFF;
    border-color:rgb(20, 20, 20);
}

#dangerBtn:hover{
    color: #c82333;
    background-color: #FFF;
    border-color: rgb(20, 20, 20);
}

#wholeModal{
    background-color: #f0efd9;
}

#headModal{
    background-color: #98a8cc;
}

#modalBtn{
    margin-top: 500px;
}

#addModalLabel{
    margin: auto;

}