body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(150deg, #FCFCF0,  #f3f6d9, #cfca90);
}

#navbar{
    background-color: #D09f74;
}

.error-message{
    color: red;
    margin: 5px 0px;
    font-size: 0.9rem;
}

.btn-custom{
    color: white;
    background-color: #6F9EFF;
    border: 2px dashed #FFF;
    border-radius: 5px;
}

.btn-customPrimary{
    color: white;
    background-color: #007BFF;
    border: 2px dashed #FFF;
    border-radius: 5px;
}

#navSpacer{
    margin: 6rem auto;
}

.list-group-item, .card-footer{
    background-color: #f8e1c5;
}

.card-header{
    background-color: #d09f74;
    font-size: 1.5rem;
    font-weight: 600;
}

.card-footer{
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}

/*inverts button colors when hovering(if the id is set)*/
.btn-primary:hover{
    color: #007BFF;
    background-color: #FFF;
    border-color: rgb(20, 20, 20);
}

#secondaryBtn:hover{
    color: #5a6268;
    background-color: #FFF;
    border-color:rgb(20, 20, 20);
}

.btn-danger:hover{
    color: #c82333;
    background-color: #FFF;
    border-color: rgb(20, 20, 20);
}

.btn-custom:hover{
    color: #6F9EFF;
    background-color: #FFF;
    border-color: rgb(20, 20, 20);

}
/* ----------------------------------------------*/

.modal-header{
    background-color: #D09f74;
}

.modal-title{
    margin-right: -25px;
}

.modal-body, .modal-footer{
    background-color: #f8e1c5;
    border: none;
}